.section-one-form-container{
    background-color: #fff;
    border-radius: 4px;
    padding: 2% 6%;
}


.section-one-account{
    display: flex;
    text-align: center;
    justify-content: center;
}

.section-one-gender-cont{
    margin-bottom: 8px;
}

.section-two-form-image-cont{
    display: flex;
    align-items: center;
}

.section-two-form-image{
    width: 25%;
    margin-left: 10px;
    border-style: dotted;
    border-radius: 50%;
    border-color: #CBCBCB;
}

.section-two-form-image img{
    border-radius: 50%;
    width: 100%;
}